#header{
    color:white;
    text-align:center;
    padding: 10px;
    background-image: url(../img/first.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#section1{
    background-color: rgb(196, 223, 232);
    color: black;
    text-align: left;
    padding: 5px;
    height: 30%;
    width: 40%;
    border: 1px solid black;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
    float: left;
}

#section2{
    background-color: rgb(196, 223, 232);
    color: black;
    text-align: left;
    padding: 5px;
    height: 30%;
    width: 40%;
    border: 1px solid black;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
    float: right;
}



#section3{
    background-color: rgb(196, 223, 232);
    color: black;
    text-align: left;
    padding: 5px;
    height: 30%;
    width: 40%;
    border: 1px solid black;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
    float: left;
}


#section4{
    background-color:rgb(196, 223, 232);
    color: black;
    text-align: left;
    padding: 5px;
    height: 30%;
    width: 40%;
    border: 1px solid black;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
    float: right;
}


#footer{
    color: black;
    clear:both;
    text-align:center;
    padding:5px;
    border: 1px solid black;
    margin-top: 50px;
    margin-bottom: 50px;
}